{% extends 'SchoolUserBundle::base.html.twig' %}
{% form_theme form 'SchoolUserBundle:Form:form_errors.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/schooluser/vendor/bootstrap_datetime_widget/css/bootstrap-datetimepicker.min.css' ) }}"/>
{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/schooluser/vendor/bootstrap_datetime_widget/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/schooluser/vendor/bootstrap_datetime_widget/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

{% block title %} {{ exam.name }} {% endblock %}

{% block body %}

    <div class="page-header">
        <h2> Exam assignment </h2>
    </div>
    
    <ul>
        <li> Exam: {{ exam.name }} </li>
        <li> For course: {{ course.name }} </li>
        <li> For class: {{ class.name }} </li>
    </ul>
    
    {{ form_start(form) }}
        
        <div class="row">
            <div class='col-md-2'>
                <div class="form-group">
                    {{ form_label(form.start) }}
                    {{ form_errors(form.start) }}
                    <div class='input-group date' id='datetimepicker1'>
                        {{ form_widget(form.start, {'attr': {'class': 'form-control' ,'data-date-format': 'DD/MM/YYYY HH:mm'}}) }}
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class='col-md-2'>
                <div class="form-group">
                    {{ form_label(form.stop) }}
                    {{ form_errors(form.stop) }}
                    <div class='input-group date' id='datetimepicker2'>
                        {{ form_widget(form.stop, {'attr': {'class': 'form-control' ,'data-date-format': 'DD/MM/YYYY HH:mm'}}) }}
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class='col-md-2'>
                <div class="form-group">
                    {{ form_label(form.duration) }}
                    {{ form_errors(form.duration) }}
                    <div class='input-group date' id='datetimepicker3'>
                        {{ form_widget(form.duration, {'attr': {'class': 'form-control', 'data-date-format': 'HH:mm'}}) }}
                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {{ form_errors(form) }}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}})  }}
    {{ form_end(form) }}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
        $('#datetimepicker3').datetimepicker({
            pickDate: false
        });
    });
    </script>
{% endblock %}
