{% extends 'SchoolUserBundle::base.html.twig' %}

{% block title %}Courses{% endblock %}


{% block body %}
<div class="container-fluid">
    <h3> Courses </h3>
 
    <ul>
    {% for course in courses %}
        <li> {{ course.name }} - {{ course.schoolYear }} <a href="{{ path('teacher_add_lecture', {'courseId': course.id }) }}"> (Add Lecture) </a>  </li>
            <ul> 
            {% for lecture in  course.lectures %}
                <li>   <a href="{{ asset(lecture.getWebPath()) }}"> {{ lecture }} </a></li>
            {% endfor %}
            </ul>
    {% endfor %}
    </ul>
</div>   
{% endblock %}