{% extends 'SchoolUserBundle::base.html.twig' %}

{% block title %} My Students {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="page-header">       
        <h2> My Students </h2>
    </div>
    
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        {% for school_class in classes %}
        <li ><a href="#{{ school_class.id }}" role="tab" data-toggle="tab"> {{ school_class.name }} - {{ school_class.schoolYear }} </a></li>
        {% endfor %}
    </ul>
   
    <div class="tab-content">
    {% for school_class in classes %}
        <div class="tab-pane fade" id="{{ school_class.id }}"> 
            <ul class="list-group">
            {% for student in school_class.students %} 
                <li class="list-group-item"> {{ student.user.lastName }} {{ student.user.firstName }} </li>  
            {% endfor %} 
            </ul>
        </div>
    {% endfor %}
    </div>

  
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#myTab a:first').tab('show')
        })
    </script>
{% endblock %}