{% extends 'SchoolUserBundle::base.html.twig' %}

{% block title %}Teacher Assignment{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/schooluser/js/teacherAssignation.js') }}"></script>
{% endblock %}

{% block body %}
{{ parent() }}
<div class="container-fluid">
    <div class="page-header">
        <h2> Teacher assignment </h2>
    </div>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    
    {{ form_start(form , {'attr': {'class': 'form-horizontal'}}) }}

        <div class="form-group">
            {{ form_label(form.schoolyear, 'Year', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {{ form_errors(form.schoolyear) }}
            <div class="col-sm-3">
                {{ form_widget(form.schoolyear, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        
        <div class="form-group">
            {{ form_label(form.courses, 'Course', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {{ form_errors(form.courses) }}
            <div class="col-sm-3">
                {{ form_widget(form.courses, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        
        <div class="form-group">
            {{ form_label(form.schoolClasses, 'Class', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {{ form_errors(form.schoolClasses) }}
            <div class="col-sm-3">
                {{ form_widget(form.schoolClasses, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.teacher, 'Teacher', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {{ form_errors(form.teacher) }}
            <div class="col-sm-3">
                {{ form_widget(form.teacher, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
            </div>
        </div>

    {{ form_end(form) }}
        
    <h3> Assigned teachers </h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th> Year </th>
            <th> Course </th>
            <th> Class </th>
            <th> Teacher </th>      
        </tr>
        </thead>
        
        {% for courseClass in pagination %}
        
        <tbody>
        <tr {% if loop.index is odd %}class="color"{% endif %}> 
            <td>{{ courseClass.course.schoolYear.name }}</td>
            <td>{{ courseClass.course.name }}</td>
            <td>{{ courseClass.class.name }}</td>
            <td>{{ courseClass.teacher.user.lastName }} {{ courseClass.teacher.user.firstName }} </td>
            
        </tr>
        </tbody>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}