{% extends 'SchoolUserBundle::base.html.twig' %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/schooluser/js/addSchoolClasses.js') }}"></script>
{% endblock %}

{% block title %} Edit School Year {% endblock %}

{% block body %}
<div class="container-fluid">

    <h2> Edit School Year </h2>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.dateFrom) }}
        {{ form_row(form.dateTo) }}
        <h3> School Classes </h3>
        <ul class="schoolClasses" data-prototype="{{ form_widget(form.schoolClasses.vars.prototype)|e }}">
            {% for school_class in form.schoolClasses %}
                <div class="delete-link-wrapper">
                <li> {{ form_row(school_class.name) }} </li>
                 </div>
            {% endfor %}
        </ul>
    {{ form_end(form) }}
</div>
{% endblock %}