{% extends 'SchoolUserBundle::base.html.twig' %}

{% block title %}Assign Students To A Class{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/schooluser/js/SchoolClassTest.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">

    <h2> Assign Students To A Class </h2>
    
    <h3> Selected Students </h3>
    
    <div class="row">
    <div class="col-md-8">
    <ol>
    {% for student in students %}
        <li> 
            {{ student.user.lastName }} {{ student.user.firstName }} {% if student.schoolClass is not null %}
                currently at class: {{ student.schoolClass.name }} 
            {% endif %}
        </li>
    {% endfor %}
    </ol>
    </div>
    </div>
    
    {{ form_start(form , {'attr': {'class': 'form-horizontal'}}) }}
    
    <div class="row">   
    <div class="col-md-8">      
    <div class="form-group">
        {{ form_label(form.schoolYear, 'School Year', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.schoolYear) }}
        <div class="col-sm-4">
            {{ form_widget(form.schoolYear, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-md-8"> 
    <div class="form-group">
        {{ form_label(form.name, 'School Class', {'label_attr': { 'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.name) }}
        <div class="col-sm-4">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-md-4"> 
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-4">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
    </div>
    </div>
    </div>
    
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}