{% extends 'SchoolUserBundle::base.html.twig' %}

{% block title %} Remove Students From A Class {% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/schooluser/js/studentRemovalFromClass.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2> Remove students from class </h2>

    <h3> Selected Students </h3>

    <ol>        
        {% for student in students %}
           
            <li> <strong>{{ student.user.lastName }} {{ student.user.firstName }} </strong>
                {% if student.schoolClass is not null %}
                    currently at class: {{ student.schoolClass.name }} - {{ student.schoolClass.schoolYear }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
    
    {{ form_start(form , {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    
    <div>
        {{ form_widget(form.Confirm, {'attr': {'class': 'btn btn-default'}}) }}
    </div>

    {{ form_end(form) }}

</div>
{% endblock %}