{% extends 'SchoolUserBundle::base.html.twig' %}
{% form_theme form 'SchoolUserBundle:Form:bootstrap_form.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('bundles/schooluser/vendor/countdown/css/countdown.css') }}" /> 
{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/schooluser/vendor/countdown/countdown.min.js') }}" > </script>
{% endblock %}
    
{% block title %} {{ assigned_exam.exam.name }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <p id="countdown" class="text-right"> </p>
     
    <h3 > {{ assigned_exam.exam.name }} </h3> 
    
    <ol>
        {{ form_start(form) }}   
    
        {% set endTime = endTime|date("m/d/Y H:i:s") %}

        <input hidden type="text" id="end_time" value="{{ endTime }}" />
        
        <div class="modal fade" id="time_over">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times; </span><span class="sr-only">Close </span></button>
                        <p> Time is up! Submit your answers! </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"> Dismiss </button>
                        <button type="submit" class="btn btn-primary"> Save your answers </button> 
                        
                    </div>
                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div> <!-- /.modal -->
        
        {{ form_end(form) }}
    </ol>
    
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"> 
        
        // Hide the null option for the exam answers
        // This allows the user to submit the form without answering explicitely to a question
        var $form = $('form[name="assigned_exam"]');
        var $labels = $form.find('.row .radio label');

        $labels.each(function (i, el) {
          var $el = $(el);
          if ($el.text().trim() == 'n/a') {
            var $radio_col = $el.closest('.radio').parent();
            $radio_col.css('display', 'none');
          }
        });
        
        var end_time = document.getElementById("end_time").value;
        var countdown = new Countdown({
        
            selector: '#countdown',
            
            msgAfter: "Exam is over",
            msgPattern: "{hours} hours {minutes} minutes {seconds} seconds",
            dateStart: new Date(),
            dateEnd: new Date(end_time.replace(/-/g,"/")),
            onStart: function() {                
                console.log('Exam started');
            },
            onEnd: function() {
                $('#time_over').modal('show');
                console.log('Exam has ended');
            }
        });
    </script>
     
{% endblock %} 