{% extends 'SchoolUserBundle::base.html.twig' %}
{% form_theme form 'SchoolUserBundle:Form:bootstrap_form.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('bundles/schooluser/vendor/countdown/css/countdown.css') }}" /> 
{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/schooluser/vendor/countdown/countdown.min.js') }}" > </script>
{% endblock %}
    
{% block title %} {{ assigned_exam.exam.name }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <h3 > {{ assigned_exam.exam.name }} </h3> 

    
    <p id="countdown" class="text-right"> </p>
    <ol>
        {{ form(form) }}    
    </ol>
    
    {% if taken_exam is null %}
        {% set endTime = endTime|date("m/d/Y H:i:s") %}
    {% else %}
        {% set endTime = taken_exam.endTime|date("m/d/Y H:i:s") %}
    {% endif %}

    <input hidden type="text" id="end_time" value="{{ endTime }}" />
    
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"> 
        var end_time = document.getElementById("end_time").value;
        var countdown = new Countdown({
        
            selector: '#countdown',
            
            msgAfter: "Exam is over",
            msgPattern: "{hours} hours {minutes} minutes {seconds} seconds",
            dateStart: new Date(),
            dateEnd: new Date(end_time.replace(/-/g,"/")),
            onStart: function() {                
                console.log('Exam started');
            },
            onEnd: function() {
                window.alert("Post your answers");
                console.log('Exam has ended');
            }
        });
    </script>
     
{% endblock %} 