{% extends 'SchoolUserBundle::base.html.twig' %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/schooluser/vendor/bootstrap/js/tab.js') }}"> </script>
{% endblock %}

{% block title %} My Profile {% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3> My Profile </h3>
        
        <ul>
            <li> <strong> Full Name: </strong> {{ student.user.lastName }} {{ student.user.firstName }} </li>
            <li> <strong> Username: </strong> {{ student.user.username }} </li>
            {% if student.schoolClass is not null %}
                <li> 
                    <strong> School Year: </strong> 
                    {{ student.schoolClass.schoolYear.name }} 
                    ({{ student.schoolClass.schoolYear.dateFrom|date("m/d/Y") }} - {{ student.schoolClass.schoolYear.dateTo|date("m/d/Y") }})
                    
                </li>
                <ul>
                    <li> <strong> Courses: </strong> </li>
                    {% for course in student.schoolClass.schoolYear.courses %}
                        <li> {{ course.name }} </li>   
                    {% endfor %}
                </ul>
                <li> <strong> School Class: </strong>  {{ student.schoolClass.name }}  </li>
            {% endif %}
        </ul>
        
    </div>
{% endblock %}
