{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }} class="row">
        {%- for child in form %}
            {{- form_widget(child) -}}
        {% endfor -%}
    </div>
{% endblock choice_widget_expanded %}

{% block radio_widget -%}
    <div class="col-md-6">
        <div class="radio">
            <label for="{{ id }}"> 
                <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                {{ label|trans({}, translation_domain) }}
            </label> 
        </div>
    </div>
{%- endblock radio_widget %}

{% block button_widget -%}
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="btn btn-default">{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget %}

{% block form_row -%}
    <li>        
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}        
    </li>
{%- endblock form_row %}
